OPENAI_API_KEY=your_openai_api_key_here

GEMINI_API_KEY=AQ.Ab8RN6KoVKmbID7_LRSvBQOOwmNvjTBAgOwvFQ9d3Gj2vvM-HQ

LOCAL_MODEL_PATH=./models/Phi-3-mini-4k-instruct-q4.gguf

DEFAULT_PROVIDER=google
DEFAULT_MODEL=gemini-2.5-flash
LOG_LEVEL=INFO
